aside{position: fixed;
    bottom: 0;
    right: 0;top: 0px;
    width: 410px;
    z-index: 998;box-shadow: 2px 6px 8px 2px #000; background: #232527;}

.tabs{ width:100%; list-style-type: none;
	li{float:left; width:33.33%;}
	a{font-size: 12px;line-height: 60px; font-weight:600;
    text-align: center; background:#000; display:block; cursor: pointer;
    color: #fff;}
    .isactiveTab{background: #232527;}
}
.clr:after{ content: ""; display:table; clear:both;}
.tabs_content{position: relative;    height: 100%;}
.tab_content{padding-top: 8px;
	a{   color: #fff;
    width: 29%;
    float: left;
    background: #191A1E;
    margin: 2%;
    text-align: center; display:block;
    padding: 20px;
    font-size: 12px; transition: all .3s ease;cursor: pointer;    
	&:hover{     box-shadow: 0px 0px 4px 2px #040404;}
	}
    display: none;
}
.attrPropContainer{   padding-top: 8px;    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;    background: #232527;    transition: all .3s ease;
    transform: translateX(105%);}
.attrPropContainer.isActive{  transform: translateX(0%);}
.tab_content__h3{
       height: 32px;
    font-size: 12px;
    line-height: 32px;
    padding: 0 16px;
    background-image: linear-gradient(90deg,rgba(0,4,9,.32) 0,rgba(0,2,4,0) 100%);
        color: #989A9C;
    letter-spacing: 2px;
    font-weight: 500;
}
.tab_content_prop__item{padding: 8px 16px 8px 16px;
    p{    color: #989A9C; width:30%; float:left; font-size: 13px;
    letter-spacing: 2px;}
    span{ width:70%; float:right; }
    .tab_content_prop__label{ width:45%; display:inline-block;
        input[type="text"]{ padding: 3px 4px;
    width: 100%;
    background: rgba(255,255,255,.05);
    border-radius: 2px;
    border: 0;
    line-height: 18px;
    height: 24px;
    font-size: 12px;
    color: #FFF;
    text-align: center;
    outline: 0;
    resize: none;}
    &:after{ content: attr(data-label);    font-size: 10px;
    text-align: center;
    display: block;color: #989A9C; }    
    }
}
.contentNodes{
    .tab_content_prop__label{ width:100%;}
}
.handle{background: rgba(67, 228, 207, 0.13);
    position: absolute;
    left: 0;
    top: 0;
    text-align: center; display:none;
    
} 
.struct_tab{}
.struct_tab__li{margin: 20px 20px; position: relative;    cursor: all-scroll;
    list-style-type: none;transition:transform .3s ease;
    .handle{right: 0;bottom: 0;
    }
&:hover .handle{
        display: block;
     
    }
}
.isGridAlreadyAdded{
    .handle{ display: inline-block;
    background-color: #1fa9d0;
    z-index: 1;
    height: 26px;
    width: 26px;
    border-radius: 50% 0px 0px 50%;
    left: -27px;
    transform: translateY(-50%);
    top: 50%;
        cursor: all-scroll;
    }
    .handle:after{content:"";display: inline-block;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAFVBMVEUAAAD///////////////////////9Iz20EAAAABnRSTlMAXz+/Dy+e5i/HAAAAR0lEQVQI12NABoyGUIZYmgCEkZaWAGEEJQVA5SACYiAGmwADY5oDkOGWyMCcBgbJQBElpSQltUS4GqguCGBJYYCbjLALYTsAkAoNR66JPpUAAAAASUVORK5CYII=) no-repeat;
    height: 16px;
    width: 16px;
    position:absolute;top:50%; left:50%; transform:translate(-50%, -50%);}
}

.initialTdClass{    background: #dcdedc;}
.initialTdClass:before{     content: "No content here. Drag new from 'Components' panel.";
    font-size: 10px;
    color: #1695bd;
    display: block;
    text-align: center; }

.col{ border: 1px solid #0e0e0e; cursor: pointer;
    padding: 10px; 
        i{ display: inline-block;
    float: left;
    height: 30px;
    border: 1px dotted #fff;}
 
}

.btnUpdate{color: #44bd42;
    border: 1px solid #44bd42;
    display: inline-block;
    padding: 4px 30px;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 12px;
    float: right;
    margin-right: 10px;
    font-weight: 600;
    cursor: pointer;}
.col_1{ 
    i{width:100%;}
 }
.col_2{
    i{width:50%; padding:10px;}

}
.col_1-3{
    i:first-child{width:30%;}
    i:last-child{width:70%;}

}
.col_3-1{
    i:first-child{width:70%;}
    i:last-child{width:30%;}
}
.col_3{
    i{width:33.33%;}}
.col_4{
    i{width:25%;}}


/*icons*/
.leftAlign{ background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAaUlEQVRIS2NkoDFgpLH5DHSzoIGBgaGeyr5pZGBgaID5wIGBgQGEqQkOMDAwHBgSQQQOClxep0YQgYOCkAXUDHsUs2A+GE1FOIOYGkE0morITsGjZRE86EZIKiI7qRDSSLcKh5BDyJYHAI/LGBnWJj37AAAAAElFTkSuQmCC') no-repeat;}
.rightAlign{ background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAbklEQVRIS2NkoDFgpLH5DHSzoIGBgaGeyr5pZGBgaID5wIGBgQGEqQkOMDAwHKBbECG7nJLgAgcLsmHYfEBJcIGDhZAF1IwHeDKlJFhwOWg0FWENmdFURFIKHk1FIy0VkZQ8SFE8IBUOKQ4kqBYA/7wYGSIG48oAAAAASUVORK5CYII=') no-repeat;}
.centerAlign{ background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAbklEQVRIS2NkoDFgpLH5DHSzoIGBgaGeyr5pZGBgaID5wIGBgQGEqQkOMDAwHKBbECG7nJLgAgcLsmHYfEBJcIGDhZAF1IwHeDKlJFhwOWg0FWENmdFURFIKHk1FIy0VkZQ8SFE8IBUOKQ4kqBYA/7wYGSIG48oAAAAASUVORK5CYII=') no-repeat;}
.justifyAlign{ background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAVUlEQVRIS+2VQQoAIAgEp5/1s+pnPS06dG0hSjqs4G3VdRBMPI70uD9hAypQLm/TgLo2yMDMm9GBbkQ7pEYkD86IjEgSkAJf0WeIpJ1TQdjDOTUo6wbbdBgZy2YHdgAAAABJRU5ErkJggg==') no-repeat;}

.aLeft{background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAUCAYAAACAl21KAAAABHNCSVQICAgIfAhkiAAAAEdJREFUOI1jYGBg+M9ABcBEDUOoahALEvsAA3HedMQmyAjVDKOJAYzYBAdfGFHNIAaGEZGOKPLi4PMaTcLoIKWGDdN0RDWDAM4CCOWd2xRlAAAAAElFTkSuQmCC') no-repeat;width: 18px;
height: 20px;}
.aRight{background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAUCAYAAACAl21KAAAABHNCSVQICAgIfAhkiAAAAElJREFUOI3NkkEKACAMw6L4MX+uL5s3j6KsSHMdpNAVNEQVifATNWAAkXB0gJKUbIdfRzKRCsOO2uF2O4sCjl/70tFUhbxguKMFfQMI5QFkuKwAAAAASUVORK5CYII=') no-repeat;width: 18px;
height: 20px;}
.aCenter{background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAUCAYAAACEYr13AAAABHNCSVQICAgIfAhkiAAAAGJJREFUOI1jYCAM/uOTZCLCALyABY2vjUMduvhVGIMRTQKvc5EAXB/FXhh4A9ADcSYWNek4xIkGtE8HPUSow6mGkYH4uMcKBj4aKTaAkYGBwZyAmhMMDAwWlFhC23Qw8AYAAOd/CjX29oNDAAAAAElFTkSuQmCC') no-repeat;width: 16px;
height: 20px; }

.vTop{background:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAASCAYAAABb0P4QAAAABHNCSVQICAgIfAhkiAAAADtJREFUOI1jZGBg+M8w1MB2BoirkTEPVE4Ci9xqZM1M1HbNqIGjBg4GA1lIVP+CgYGBEZ+Cwe/lEWggAAJmC4jElG/IAAAAAElFTkSuQmCC') no-repeat;width: 20px;
height: 18px;}
.vMiddle{background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAARCAYAAADdRIy+AAAABHNCSVQICAgIfAhkiAAAADxJREFUOI1jYEAF5gwMDP/R8EkGEgATKYqHhIENDKjB0UCpgQTBCDSQkQESuDQDhBL2aCzTwUB0MAJKGwC/EBgJUCmWHQAAAABJRU5ErkJggg==')  no-repeat;width: 20px;
height: 17px;
}
.vBottom{background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAASCAYAAABb0P4QAAAABHNCSVQICAgIfAhkiAAAADpJREFUOI1jYMAE2xkYGP6jYR4s6rACJmIVjho4eA2UYMBMAaspMZAgGDVw1MDBYCDVASMDJPtQDQAAIIAKna0Z8VYAAAAASUVORK5CYII=') no-repeat;width: 20px;
height: 18px;}
/*icons*/
.algnGroup{
    .aAlign{     float: left; position: relative;
    background-color: #2e3032;
    height: 26px;
    width: 26px;
    text-align: center;
    vertical-align: middle;
    display: table;
    border-radius: 2px;
    margin-right: 4px; overflow:hidden; transition:border .3s ease;cursor: pointer;
    &:hover{border: 1px solid #000;}
    }
    i{display:inline-block;position: relative;
    width: 100%;
    height: 100%;
    background-position: center center;}
    input[type="radio"]{height:0; width:0; overflow:hidden; border:none; position: absolute; }
    input:checked + i{background-color:#676767;}
}
.showHighlightedTd{box-shadow: 1px 1px 10px 0px #1a6cc5; position: relative;}
.showHighlightedTd:after{content: "Content";
    position: absolute;
    top: -24px;
    right: 0px;
    background: #0e0d0d;
    padding: 5px 10px;
    font-size: 10px;
    color: #fff;}

 