* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4;
  background: #191919 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgAQMAAABJtOi3AAAABlBMVEUAAAAAAAClZ7nPAAAAAnRSTlMAUvP2/eAAAAARSURBVAjXY6ASYD6ATlAHAADy5gMN0fCqFwAAAABJRU5ErkJggg==);
  background-size: 16px 16px; }

header {
  position: relative;
  height: 60px;
  z-index: 215;
  background: #000; }

.save_btn {
  color: #fff;
  margin-top: 12px;
  float: left;
  border: 1px solid #44bd42;
  background: #44bd42;
  font-weight: 600;
  font-size: 14px;
  padding: 10px 22px;
  border-radius: 3px;
  cursor: pointer;
  transition: opacity .3s ease; }
  .save_btn:hover {
    opacity: .9; }

.mail_action {
  margin-left: 16px; }
  .mail_action li {
    display: inline-block;
    float: left; }
    .mail_action li a {
      display: block;
      color: #fff;
      font-size: 14px;
      font-weight: 600;
      margin-right: 2px;
      line-height: 60px;
      cursor: pointer;
      padding: 0px 20px; }

aside {
  position: fixed;
  bottom: 0;
  right: 0;
  top: 0px;
  width: 410px;
  z-index: 998;
  box-shadow: 2px 6px 8px 2px #000;
  background: #232527; }

.tabs {
  width: 100%;
  list-style-type: none; }
  .tabs li {
    float: left;
    width: 33.33%; }
  .tabs a {
    font-size: 12px;
    line-height: 60px;
    font-weight: 600;
    text-align: center;
    background: #000;
    display: block;
    cursor: pointer;
    color: #fff; }
  .tabs .isactiveTab {
    background: #232527; }

.clr:after {
  content: "";
  display: table;
  clear: both; }

.tabs_content {
  position: relative;
  height: 100%; }

.tab_content {
  padding-top: 8px;
  display: none; }
  .tab_content a {
    color: #fff;
    width: 29%;
    float: left;
    background: #191A1E;
    margin: 2%;
    text-align: center;
    display: block;
    padding: 20px;
    font-size: 12px;
    transition: all .3s ease;
    cursor: pointer; }
    .tab_content a:hover {
      box-shadow: 0px 0px 4px 2px #040404; }

.attrPropContainer {
  padding-top: 8px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  background: #232527;
  transition: all .3s ease;
  transform: translateX(105%); }

.attrPropContainer.isActive {
  transform: translateX(0%); }

.tab_content__h3 {
  height: 32px;
  font-size: 12px;
  line-height: 32px;
  padding: 0 16px;
  background-image: linear-gradient(90deg, rgba(0, 4, 9, 0.32) 0, rgba(0, 2, 4, 0) 100%);
  color: #989A9C;
  letter-spacing: 2px;
  font-weight: 500; }

.tab_content_prop__item {
  padding: 8px 16px 8px 16px; }
  .tab_content_prop__item p {
    color: #989A9C;
    width: 30%;
    float: left;
    font-size: 13px;
    letter-spacing: 2px; }
  .tab_content_prop__item span {
    width: 70%;
    float: right; }
  .tab_content_prop__item .tab_content_prop__label {
    width: 45%;
    display: inline-block; }
    .tab_content_prop__item .tab_content_prop__label input[type="text"] {
      padding: 3px 4px;
      width: 100%;
      background: rgba(255, 255, 255, 0.05);
      border-radius: 2px;
      border: 0;
      line-height: 18px;
      height: 24px;
      font-size: 12px;
      color: #FFF;
      text-align: center;
      outline: 0;
      resize: none; }
    .tab_content_prop__item .tab_content_prop__label:after {
      content: attr(data-label);
      font-size: 10px;
      text-align: center;
      display: block;
      color: #989A9C; }

.contentNodes .tab_content_prop__label {
  width: 100%; }

.handle {
  background: rgba(67, 228, 207, 0.13);
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  display: none; }

.struct_tab__li {
  margin: 20px 20px;
  position: relative;
  cursor: all-scroll;
  list-style-type: none;
  transition: transform .3s ease; }
  .struct_tab__li .handle {
    right: 0;
    bottom: 0; }
  .struct_tab__li:hover .handle {
    display: block; }

.isGridAlreadyAdded .handle {
  display: inline-block;
  background-color: #1fa9d0;
  z-index: 1;
  height: 26px;
  width: 26px;
  border-radius: 50% 0px 0px 50%;
  left: -27px;
  transform: translateY(-50%);
  top: 50%;
  cursor: all-scroll; }
.isGridAlreadyAdded .handle:after {
  content: "";
  display: inline-block;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAFVBMVEUAAAD///////////////////////9Iz20EAAAABnRSTlMAXz+/Dy+e5i/HAAAAR0lEQVQI12NABoyGUIZYmgCEkZaWAGEEJQVA5SACYiAGmwADY5oDkOGWyMCcBgbJQBElpSQltUS4GqguCGBJYYCbjLALYTsAkAoNR66JPpUAAAAASUVORK5CYII=) no-repeat;
  height: 16px;
  width: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.initialTdClass {
  background: #dcdedc; }

.initialTdClass:before {
  content: "No content here. Drag new from 'Components' panel.";
  font-size: 10px;
  color: #1695bd;
  display: block;
  text-align: center;
  padding: 15px; }

.col {
  border: 1px solid #0e0e0e;
  cursor: pointer;
  padding: 10px; }
  .col i {
    display: inline-block;
    float: left;
    height: 30px;
    border: 1px dotted #fff; }

.btnUpdate {
  color: #44bd42;
  border: 1px solid #44bd42;
  display: inline-block;
  padding: 4px 30px;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 12px;
  float: right;
  margin-right: 10px;
  font-weight: 600;
  cursor: pointer; }

.col_1 i {
  width: 100%; }

.col_2 i {
  width: 50%;
  padding: 10px; }

.col_1-3 i:first-child {
  width: 30%; }
.col_1-3 i:last-child {
  width: 70%; }

.col_3-1 i:first-child {
  width: 70%; }
.col_3-1 i:last-child {
  width: 30%; }

.col_3 i {
  width: 33.33%; }

.col_4 i {
  width: 25%; }

/*icons*/
.leftAlign {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAaUlEQVRIS2NkoDFgpLH5DHSzoIGBgaGeyr5pZGBgaID5wIGBgQGEqQkOMDAwHBgSQQQOClxep0YQgYOCkAXUDHsUs2A+GE1FOIOYGkE0morITsGjZRE86EZIKiI7qRDSSLcKh5BDyJYHAI/LGBnWJj37AAAAAElFTkSuQmCC") no-repeat; }

.rightAlign {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAbklEQVRIS2NkoDFgpLH5DHSzoIGBgaGeyr5pZGBgaID5wIGBgQGEqQkOMDAwHKBbECG7nJLgAgcLsmHYfEBJcIGDhZAF1IwHeDKlJFhwOWg0FWENmdFURFIKHk1FIy0VkZQ8SFE8IBUOKQ4kqBYA/7wYGSIG48oAAAAASUVORK5CYII=") no-repeat; }

.centerAlign {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAbklEQVRIS2NkoDFgpLH5DHSzoIGBgaGeyr5pZGBgaID5wIGBgQGEqQkOMDAwHKBbECG7nJLgAgcLsmHYfEBJcIGDhZAF1IwHeDKlJFhwOWg0FWENmdFURFIKHk1FIy0VkZQ8SFE8IBUOKQ4kqBYA/7wYGSIG48oAAAAASUVORK5CYII=") no-repeat; }

.justifyAlign {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAVUlEQVRIS+2VQQoAIAgEp5/1s+pnPS06dG0hSjqs4G3VdRBMPI70uD9hAypQLm/TgLo2yMDMm9GBbkQ7pEYkD86IjEgSkAJf0WeIpJ1TQdjDOTUo6wbbdBgZy2YHdgAAAABJRU5ErkJggg==") no-repeat; }

.aLeft {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAUCAYAAACAl21KAAAABHNCSVQICAgIfAhkiAAAAEdJREFUOI1jYGBg+M9ABcBEDUOoahALEvsAA3HedMQmyAjVDKOJAYzYBAdfGFHNIAaGEZGOKPLi4PMaTcLoIKWGDdN0RDWDAM4CCOWd2xRlAAAAAElFTkSuQmCC") no-repeat;
  width: 18px;
  height: 20px; }

.aRight {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAUCAYAAACAl21KAAAABHNCSVQICAgIfAhkiAAAAElJREFUOI3NkkEKACAMw6L4MX+uL5s3j6KsSHMdpNAVNEQVifATNWAAkXB0gJKUbIdfRzKRCsOO2uF2O4sCjl/70tFUhbxguKMFfQMI5QFkuKwAAAAASUVORK5CYII=") no-repeat;
  width: 18px;
  height: 20px; }

.aCenter {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAUCAYAAACEYr13AAAABHNCSVQICAgIfAhkiAAAAGJJREFUOI1jYCAM/uOTZCLCALyABY2vjUMduvhVGIMRTQKvc5EAXB/FXhh4A9ADcSYWNek4xIkGtE8HPUSow6mGkYH4uMcKBj4aKTaAkYGBwZyAmhMMDAwWlFhC23Qw8AYAAOd/CjX29oNDAAAAAElFTkSuQmCC") no-repeat;
  width: 16px;
  height: 20px; }

.vTop {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAASCAYAAABb0P4QAAAABHNCSVQICAgIfAhkiAAAADtJREFUOI1jZGBg+M8w1MB2BoirkTEPVE4Ci9xqZM1M1HbNqIGjBg4GA1lIVP+CgYGBEZ+Cwe/lEWggAAJmC4jElG/IAAAAAElFTkSuQmCC") no-repeat;
  width: 20px;
  height: 18px; }

.vMiddle {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAARCAYAAADdRIy+AAAABHNCSVQICAgIfAhkiAAAADxJREFUOI1jYEAF5gwMDP/R8EkGEgATKYqHhIENDKjB0UCpgQTBCDSQkQESuDQDhBL2aCzTwUB0MAJKGwC/EBgJUCmWHQAAAABJRU5ErkJggg==") no-repeat;
  width: 20px;
  height: 17px; }

.vBottom {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAASCAYAAABb0P4QAAAABHNCSVQICAgIfAhkiAAAADpJREFUOI1jYMAE2xkYGP6jYR4s6rACJmIVjho4eA2UYMBMAaspMZAgGDVw1MDBYCDVASMDJPtQDQAAIIAKna0Z8VYAAAAASUVORK5CYII=") no-repeat;
  width: 20px;
  height: 18px; }

/*icons*/
.algnGroup .aAlign {
  float: left;
  position: relative;
  background-color: #2e3032;
  height: 26px;
  width: 26px;
  text-align: center;
  vertical-align: middle;
  display: table;
  border-radius: 2px;
  margin-right: 4px;
  overflow: hidden;
  transition: border .3s ease;
  cursor: pointer; }
  .algnGroup .aAlign:hover {
    border: 1px solid #000; }
.algnGroup i {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  background-position: center center; }
.algnGroup input[type="radio"] {
  height: 0;
  width: 0;
  overflow: hidden;
  border: none;
  position: absolute; }
.algnGroup input:checked + i {
  background-color: #676767; }

.showHighlightedTd {
  box-shadow: 1px 1px 10px 0px #1a6cc5;
  position: relative; }

.showHighlightedTd:after {
  content: "Content";
  position: absolute;
  top: -24px;
  right: 0px;
  background: #0e0d0d;
  padding: 5px 10px;
  font-size: 10px;
  color: #fff; }

.overlay {
  background-color: rgba(0, 0, 0, 0.49);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
  display: none; }

.msgBox {
  position: fixed;
  top: 50%;
  transition: all .3s ease;
  transform: translate(-50%, -50%) scale3d(0, 0, 0);
  left: 50%;
  box-shadow: 1px 2px 10px #252525;
  background-color: #fff;
  z-index: 999;
  border-radius: 3px;
  padding: 26px;
  width: 500px; }
  .msgBox h1 {
    font-size: 20px;
    color: #1b1b1b;
    text-align: center;
    padding-bottom: 8px; }
  .msgBox p {
    font-size: 16px;
    color: #737373;
    font-weight: 500; }
  .msgBox span {
    display: block;
    margin-top: 30px;
    text-align: right; }
    .msgBox span button {
      cursor: pointer;
      border: none;
      font-size: 15px;
      padding: 8px 10px;
      color: #fff; }
    .msgBox span .delete {
      background-color: #dc3028; }
    .msgBox span .cancel {
      background-color: #fff;
      color: #1e9fd2; }

.btnW1, .w_block_addTemplateElement {
  background-color: #c9c9c9;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  border-radius: 3px;
  height: 30px;
  width: 30px;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  transition: opacity .2s ease; }
  .btnW1:hover, .w_block_addTemplateElement:hover {
    opacity: .8; }

#right {
  max-width: 600px;
  width: 100%;
  border: 1px solid #000;
  margin: auto;
  height: 100%;
  display: block; }

.wrapper {
  max-width: 800px;
  width: 100%;
  height: 100vh;
  margin-left: 100px;
  background: #fff;
  position: relative; }

.wrapper.NotEditable:after {
  position: absolute;
  top: 0px;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.38);
  content: '';
  cursor: no-drop; }

.w_block {
  padding: 12px 10px 5px 10px;
  border: 1px dashed rgba(125, 125, 125, 0.4);
  text-align: center; }

.grid {
  display: block;
  position: relative; }
  .grid > table > tbody > td {
    color: red; }
  .grid:hover {
    -webkit-box-shadow: 0 0 0 2px #03a9f4;
    box-shadow: 0 0 0 2px #03a9f4;
    z-index: 1;
    outline: none; }

.tabl_inner {
  position: relative;
  border: 2px solid transparent; }
  .tabl_inner td {
    height: auto;
    border: none; }

.copyIcon {
  background: url("../images/copy.png") no-repeat;
  height: 26px;
  width: 26px;
  display: inline-block;
  image-rendering: -webkit-optimize-contrast; }

.deleteIcon {
  background: url("../images/trash.png") no-repeat;
  height: 26px;
  width: 26px;
  display: inline-block;
  image-rendering: -webkit-optimize-contrast; }

.dragIcon {
  background: url("../images/drag.png") no-repeat;
  height: 26px;
  width: 26px;
  display: inline-block;
  image-rendering: -webkit-optimize-contrast; }

.innerFilter {
  position: absolute;
  top: 0;
  right: 0;
  background: #d8d8d8;
  border-radius: 3px;
  transition: all .2s ease;
  transform: scale3d(0, 0, 0);
  transform-origin: top right; }
  .innerFilter i {
    cursor: pointer;
    transform: scale3d(0.7, 0.7, 1);
    image-rendering: -webkit-optimize-contrast;
    position: relative;
    top: 2px; }

.tabl_inner:hover {
  border: 2px solid #78ABC1; }
  .tabl_inner:hover .innerFilter {
    transform: scale3d(1, 1, 1); }

.grid .handle {
  background: url("../images/drag-w.png") no-repeat;
  height: 26px;
  width: 26px;
  position: absolute;
  display: inline-block;
  background-color: #1fa9d0;
  z-index: 9;
  border-radius: 50% 0px 0px 50%;
  left: -27px;
  transform: translateY(-50%);
  top: 50%;
  cursor: all-scroll;
  background-size: 20px auto;
  background-position: center; }

.structFiltrs {
  position: absolute;
  top: 0;
  right: -26px;
  transform-origin: top left;
  width: 26px;
  background: #1fa9d0;
  transform: scale3d(0, 0, 0);
  transition: all .3s ease; }
  .structFiltrs .copyIcon {
    background: url("../images/copy-w.png") no-repeat;
    background-size: 20px auto;
    background-position: center;
    cursor: pointer; }
  .structFiltrs .deleteIcon {
    background: url("../images/trash-w.png") no-repeat;
    background-size: 20px auto;
    background-position: center;
    cursor: pointer; }

.grid:hover .structFiltrs {
  transform: scale3d(1, 1, 1); }

/*edtior*/
.medium-toolbar-arrow-under:after {
  border-color: #000 transparent transparent;
  top: 40px; }

.medium-toolbar-arrow-over:before {
  border-color: transparent transparent #000; }

.medium-editor-toolbar {
  background-color: #000;
  border: none;
  border-radius: 50px; }

.medium-editor-toolbar li button {
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  color: #ccc;
  height: 40px;
  min-width: 40px;
  padding: 5px 12px;
  -webkit-transition: background-color .2s ease-in,color .2s ease-in;
  transition: background-color .2s ease-in,color .2s ease-in; }

.medium-editor-toolbar li .medium-editor-button-active, .medium-editor-toolbar li button:hover {
  background-color: #000;
  color: #a2d7c7; }

.medium-editor-toolbar li .medium-editor-button-first {
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  padding-left: 24px; }

.medium-editor-toolbar li .medium-editor-button-last {
  border-bottom-right-radius: 50px;
  border-right: none;
  border-top-right-radius: 50px;
  padding-right: 24px; }

.medium-editor-toolbar-form {
  background: #000;
  border-radius: 50px;
  color: #ccc;
  overflow: hidden; }

.medium-editor-toolbar-form .medium-editor-toolbar-input {
  background: #000;
  box-sizing: border-box;
  color: #ccc;
  height: 40px;
  padding-left: 16px;
  width: 220px; }

.medium-editor-toolbar-form .medium-editor-toolbar-input::-webkit-input-placeholder {
  color: #f8f5f3;
  color: rgba(248, 245, 243, 0.8); }

.medium-editor-toolbar-form .medium-editor-toolbar-input:-moz-placeholder {
  color: #f8f5f3;
  color: rgba(248, 245, 243, 0.8); }

.medium-editor-toolbar-form .medium-editor-toolbar-input::-moz-placeholder {
  color: #f8f5f3;
  color: rgba(248, 245, 243, 0.8); }

.medium-editor-toolbar-form .medium-editor-toolbar-input:-ms-input-placeholder {
  color: #f8f5f3;
  color: rgba(248, 245, 243, 0.8); }

.medium-editor-toolbar-form a {
  color: #ccc;
  -webkit-transform: translateY(2px);
  transform: translateY(2px); }

.medium-editor-toolbar-form .medium-editor-toolbar-close {
  margin-right: 16px; }

.medium-editor-toolbar-anchor-preview {
  background: #000;
  border-radius: 50px;
  padding: 5px 12px; }

.medium-editor-anchor-preview a {
  color: #ccc;
  text-decoration: none; }

/*ediot*/

/*# sourceMappingURL=main.css.map */
